version: "3.9"
services:
  db:
    image: postgis/postgis:16-3.4
    container_name: tp-postgis
    restart: unless-stopped
    ports: ["5432:5432"]
    env_file: .env
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 3s
      timeout: 3s
      retries: 20

  gdal:  # 只用來匯入 GeoJSON，用完可不用啟動
    image: ghcr.io/osgeo/gdal:alpine-normal-latest-amd64
    container_name: tp-gdal
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./data:/data:ro
    entrypoint: ["sleep","infinity"]

  web:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: tp-flask
    depends_on:
      db:
        condition: service_healthy
    env_file: .env
    ports: ["5000:5000"]
    restart: unless-stopped


volumes:
  pgdata:

